/* start with all content maxed to screen edges */
* {
    margin: 0;
    padding: 0;
}

html {

}

body {

}

header {

}

nav {

}

main {

}

footer {

}

a {
    text-decoration: none;
}

img {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

ul {

}

ol {

}

li {

}

form {

}

input {

}

label {

}

select {

}

option {

}

textarea {

}

button {

}

fieldset {


}

legend {

}

datalist {

}

output {

}

